name: Visual Mapper
version: "0.2.97"
slug: visual_mapper
# image: ghcr.io/botts7/visual-mapper-{arch}  # Enable after testing
description: Android device control and sensor creation for Home Assistant via ADB
url: https://github.com/botts7/visual-mapper
arch:
  - amd64
  - aarch64
init: false
startup: application
host_network: true
ports:
  8080/tcp: 8080
ports_description:
  8080/tcp: Web UI
ingress: false
webui: http://[HOST]:[PORT:8080]
panel_icon: mdi:android
panel_title: Visual Mapper
options:
  mqtt_broker: core-mosquitto
  mqtt_port: 1883
  mqtt_username: ""
  mqtt_password: ""
  log_level: info
  ml_training_mode: disabled
  ml_remote_host: ""
  ml_remote_port: 8099
  ml_use_dqn: false
  ml_batch_size: 64
  ml_save_interval: 60
schema:
  mqtt_broker: str
  mqtt_port: port
  mqtt_username: str?
  mqtt_password: password?
  log_level: list(debug|info|warning|error)
  ml_training_mode: list(disabled|local|remote)
  ml_remote_host: str?
  ml_remote_port: port?
  ml_use_dqn: bool
  ml_batch_size: int(16,256)
  ml_save_interval: int(10,300)
map:
  - config:rw
usb: true
