name: Visual Mapper Beta
version: 0.4.0-beta.3
slug: visual_mapper_beta
# image: ghcr.io/botts7/visual-mapper-beta-{arch}  # Enable after testing
description: "BETA: Android device control and sensor creation - Latest features, may be unstable"
url: https://github.com/botts7/visual-mapper
arch:
  - amd64
  - aarch64
init: false
startup: application
host_network: true
ports:
  8085/tcp: 8085
ports_description:
  8085/tcp: Web UI (Beta)
ingress: false
webui: http://[HOST]:[PORT:8085]
panel_icon: mdi:flask
panel_title: Visual Mapper Beta
options:
  mqtt_broker: core-mosquitto
  mqtt_port: 1883
  mqtt_username: ""
  mqtt_password: ""
  log_level: debug
  ml_training_mode: local
  ml_remote_host: ""
  ml_remote_port: 8099
  ml_use_dqn: false
  ml_batch_size: 64
  ml_save_interval: 60
schema:
  mqtt_broker: str
  mqtt_port: port
  mqtt_username: str?
  mqtt_password: password?
  log_level: list(debug|info|warning|error)
  ml_training_mode: list(disabled|local|remote)
  ml_remote_host: str?
  ml_remote_port: port?
  ml_use_dqn: bool
  ml_batch_size: int(16,256)
  ml_save_interval: int(10,300)
map:
  - config:rw
usb: true
